@import "tailwindcss";

@import "@heroui/styles";

@font-face {
  font-family: "EvenMono";
  src: url("../assets/fonts/CopyrightBolditalicStudio-EvenMonoRegularTrial.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "Outfit", sans-serif;
}

body {
  font-family: "Outfit", sans-serif;
}

.accent-font {
  font-family: "Fraunces", serif;
}

.mono-font {
  font-family: "EvenMono", monospace;
}